*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    background-color: red;    
}
.game_container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: wheat;
}
.game_container h5{
    position: absolute;
    top: 7%;
    font-size: 28px;
    font-family: "Protest Revolution", sans-serif;

    font-weight: 700;
}
.m_container{
    /* background-color: red; */
    width: 30%;
    margin: 10% 0;
}
.box {
    /* background-color: blue; */
    height: 135px;
    border: 4px solid #fff;
    border-radius: 25%;
}
.boxtext {
    font-size: 95px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    align-items: center;
}
#resultMessage {
    font-size: 20px;
    font-weight: bold;
    color: green; /* You can customize the color */
  }

.bt{
    border-top: none;
}
.br{
    border-right: none;
}
.bl{
    border-left: none;
}
.bb{
    border-bottom: none;
}
.info{
    font-size: 22px;
    font-weight: 600;
    font-family: "Anta", sans-serif;
}
.info_box {
    /* background: #000; */
    position: absolute;
    top: 13%;
    right: 51%;
}
#reset {
    position: absolute;
    /* margin: 0 20px; */
    padding: 6px 8px;
    font-size: 18px;
    border-radius: 20px;
    background: wheat;
    font-weight: 600;
    top: 32rem;
    left: -3rem;
    font-weight: 800;
    width: 20rem;
}
.winingbox {
    /* background: red; */
    width: 26rem;
    height: 29rem;
    position: absolute;
    top: 0rem;
    left: 370px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 89px;
    font-weight: 600;
}
.win {
    /* background: yellow; */
    font-size: 48px;
    position: absolute;
    top: 130px;
    font-size: 85px;
    text-align: center;
}
@media (max-width: 991px) {
    .m_container {
    
        position: absolute;
        top: 90%;
        left: 18%;
    }
    .info_box {
        right: -21%;
        top: 109px;
        position: relative;
    }
}